<app-person-ficha
  *ngIf="doctor as d"
  wbarActive="doctores"
  backLink="/doctores"
  backLabel="← Doctores"
  [kindLine]="kindLine"
  [title]="d.name"
  [subtitle]="d.role"
  [quote]="d.quote"
  [quoteSource]="d.quoteSource"
  [works]="works"
  [themes]="d.themes"
>
  <span ficha-fbar-end class="iconb" title="Favorito">♡</span>
  <div ficha-after-works *ngIf="d.proclamationSourceUrl">
    <div class="sect">Proclamación</div>
    <a
      class="app-lang-link"
      [href]="d.proclamationSourceUrl"
      target="_blank"
      rel="noopener noreferrer"
    >
      Documento en vatican.va
    </a>
  </div>
</app-person-ficha>
