<ng-container *ngIf="infoPunto?.article">
  <p
    class="punto-contenido"
    [class.punto-heading]="isHeading"
    [class.tsec]="isHeading"
    [attr.data-unit]="infoPunto.article.index_array"
    [attr.data-heading]="isHeading ? '1' : null"
  >
    <b class="punto-num" *ngIf="numLabel">{{ numLabel }}.</b>
    <ng-container *ngFor="let seg of segments">
      <span *ngIf="seg.type === 'text'" [innerHTML]="seg.html"></span>
      <a
        *ngIf="seg.type === 'ref' && seg.local"
        href="javascript:void(0)"
        class="ref-link"
        [attr.title]="seg.label"
        (click)="openRef(seg, $event)"
        >{{ seg.label }}</a
      >
      <span
        *ngIf="seg.type === 'ref' && !seg.local"
        class="ref-unresolved"
        title="Sin destino offline"
        >{{ seg.label }}</span
      >
    </ng-container>
    <button
      *ngIf="canSave"
      type="button"
      class="punto-save-btn"
      (click)="saveReference($event)"
      title="Guardar referencia personal"
      aria-label="Guardar referencia personal"
    >
      ★
    </button>
    <span *ngIf="saveMsg" class="punto-save-msg">{{ saveMsg }}</span>
    <span *ngIf="saveError" class="punto-save-err">{{ saveError }}</span>
  </p>
</ng-container>
