<ng-container *ngIf="infoPunto.article">

  <h5 class="card-title">{{ obtener_consecutivo(infoPunto.article.consecutivo) }}
  </h5>

  <p
    (click)="ver_raw = !ver_raw"
    [innerHTML]="ocultar_consecutivo(infoPunto.article)"
  >
  </p>
  <pre *ngIf="ver_raw">{{ infoPunto | json }}</pre>
  <!-- Posiblemente aquí pongamos algo -->
  <!-- <ul class="list-group list-group-flush">
    <li *ngFor="let referencia of punto?.referencias" class="list-group-item">
    {{ referencia?.descripcion }}
    </li>
  </ul> -->
</ng-container>
