<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">


  <main class="px-3">
    <h1>Acerca de </h1>


    <p class="lead">Documentos vaticanos es un proyecto que busca facilitar el
      acceso a los documentos originales del vaticano. </p>
    <p>Nuestra única fuente es la bibliotéca <a
        href="https://www.vatican.va/archive/index_sp.htm"
      >electrónica del vaticano </a>
    <p>Somos fieles al Papa y los obispos.</p>

    <hr>


    <h1>Recursos interesantes. </h1>

    <p class="lead">Preguntas sobre la fe católica.
    </p>
    <a href="mailto:preguntas.ewtn@gmail.com">Frank Morera.</a>

  </main>


</div>
