<app-person-ficha
  *ngIf="padre as p"
  wbarActive="padres"
  backLink="/padres"
  backLabel="← Padres"
  [kindLine]="kindLine"
  [title]="p.name"
  [subtitle]="p.role"
  [quote]="p.quote"
  [quoteSource]="p.quoteSource"
  [works]="works"
  [themes]="p.themes"
>
  <div ficha-after-quote>
    <app-reading-ctas
      *ngIf="primaryWorkId"
      layout="stack"
      [canContinue]="false"
      [showRestart]="false"
      startLabel="Comenzar la lectura"
      (start)="openPrimaryWork(false)"
      (listen)="openPrimaryWork(true)"
    ></app-reading-ctas>
    <app-historical-context-block
      *ngIf="historicalContext"
      [ctx]="historicalContext"
      sectionTitle="Contexto histórico"
    ></app-historical-context-block>
  </div>
</app-person-ficha>
