<app-person-ficha
  *ngIf="padre as p"
  wbarActive="padres"
  backLink="/padres"
  backLabel="← Padres"
  [kindLine]="kindLine"
  [title]="p.name"
  [subtitle]="p.role"
  [quote]="p.quote"
  [quoteSource]="p.quoteSource"
  [works]="works"
  [themes]="p.themes"
>
  <span ficha-fbar-end class="iconb" title="Favorito">♡</span>
  <div ficha-after-quote>
    <app-historical-context-block
      *ngIf="historicalContext"
      [ctx]="historicalContext"
      sectionTitle="Contexto histórico"
    ></app-historical-context-block>
  </div>
</app-person-ficha>
